<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco Facilities</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script>
      // const button = document.querySelector("#likeButton");

      function clickedLike(){

        console.log("button clicked")
      }
      // button.addEventListener((event) => {
      //   console.log("button clicked");
      // });

  
    </script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <h1>Eco Facilities</h1>
    <% if (user){%>
    <form action="/ecoFacilities/new" method="get">
      <button type="submit">Add new facility</button>
    </form>
    <%} %>
    <div class="facilities">
      <% allEcoFacilities.forEach((facility)=>{%>
      <div class="oneFac">
        <h3> <%= facility.name%></h3>
        <p>category: <%=facility.category%></p>
        <p>description: <%=facility.descrtiption%></p>
        <p>house number: <%=facility.houseNumber%></p>
        <p>street name: <%=facility.streetName%></p>
        <p>town: <%=facility.town%></p>
        <p>status: <%=facility.status%></p>
        <p>contributor: <%= facility.contributor.username%></p>
        <img src="<%= facility.img%> " />
      
        <% if(user){ %>
           <form action="/ecoFacilities/like/<%=facility._id%>?_method=PUT" method="post">
          <button id="likeButton" style="font-size: 18px" type="submit">
            <% if(user && facility.like.includes(user._id)){%>
                <i style="color:red" class="fa fa-heart" id="fa-heart"></i><%= numOfLikes%>
            <%} else{%>
                <i  class="fa fa-heart" id="fa-heart"></i><%= numOfLikes%>


            <%} %>

        </button>
        </form>
        <% } else{%>  
          <div>
 <button id="likeButton" style="font-size: 18px" type="submit">

                          <i  class="fa fa-heart" id="fa-heart"></i><%= numOfLikes%>
                                  </button>
          </div>
         


        <% }%>
       

        <% if(user) {%>
        <form action="/ecoFacilities/update/<%=facility._id%>" method="get">
          <button type="submit">Update facility</button>
        </form>
        <form
          action="/ecoFacilities/delete/<%= facility._id%>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete facility</button>
        </form>

        <% }%>
       
      </div>
         
      <!-- <hr /> -->
      <%})%>

        <script>   
        </script>
    </div>
  </body>
</html>
