<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Eco Facility detials</h1>
    <p>name: <%= ecoFacility.name%></p>
    <p>category: <%=ecoFacility.category%></p>
    <p>description: <%=ecoFacility.descrtiption%></p>
    <p>house number: <%=ecoFacility.houseNumber%></p>
    <p>street name: <%=ecoFacility.streetName%></p>
    <p>town: <%=ecoFacility.town%></p>
    <p>status: <%=ecoFacility.status%></p><hr>
    
    
  </body>
</html>
